@media screen and (max-width:798px) {
    body, header {
        grid-template-areas: 
        "header header header "
        "main main main"
        "footer footer footer";
        overflow-x: hidden;
        /* overflow-y: hidden; */
    }

    nav ul {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 6vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 60%;
        transform: translateX(12%);
        transition: transform 0.2s ease-in;    
    }

    nav li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    /* Main content */
     main {
        grid-area:main;
        margin-right: 1rem;
        margin-left: 1rem;
        background-color: lightgreen;
    }
    .nav-active {
    transform: translateX(0%);
    }

    /*
    main div {
        border: 1px solid red;
        background-color: lightgray;
    }
    
    .thumbnail-details {
        display: grid;
        grid-template-areas:
        "name description"
        "name link";
        grid-template-columns: max-content;
    }
    
    .thumbnail-details p{
        border: 1px solid maroon;
    }
    
    .thumbnail {
        width: auto;
        height: auto;
    }
    
    .name {
        grid-area: name;
        align-self: flex-start;    
    }
    
    .description {
        grid-area: description;
    }
    
    .link {
        grid-area: link;
    } */
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width:1024px) {
    nav {
       width: 60%;
    }
    
    body {
        overflow-x: hidden;
        overflow-y: scroll;

    }
}