/* CSS for main screen */

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% auto max-content;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";
    grid-gap: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    grid-area: header;
    align-items: stretch;
    background-color: grey;
    border: 1px solid blue;
    margin: 0px;
    padding: 0px;
}

header nav, img {
    border: #cd853f 1px solid;
    width: 50%;
}

img {
    max-width: 75px;
    max-height: 75px;
    float: left;
    cursor: pointer;
}

ul {
    display: flex;
    /* float: right; */
    justify-content: space-evenly;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    letter-spacing: 3px;
}

.burger {
    display:none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

main {
    grid-area: main;
    height: auto;
    background-color: lightgreen;
}

main div {
    border: 1px solid red;
    background-color: lightgray;
}

.thumbnail-details {
    display: grid;
    grid-template-areas:
    "name description"
    "name link";
    grid-template-columns: max-content;
}

.thumbnail-details p{
    border: 1px solid maroon;
}

.thumbnail {
    width: auto;
    height: auto;
}

.name {
    grid-area: name;
    align-self: flex-start;    
}

.description {
    grid-area: description;
}

.link {
    grid-area: link;
}

footer div {
    border: 1px solid black;
}

footer h2,
p {
    text-align: center;
    margin: 0 auto;

}
footer {
    grid-area:footer;  
    background-color: lightslategrey;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons div{
    margin: 10px;
}
