/*  landing page */
html {
    scroll-behavior: smooth;
}

.index-main {
    grid-area: main;
    width: 100%;
    height: auto;
    padding: 0;
}

.thumb-project-details  {
    margin: 0 1rem 1.5rem 1rem;
}

.thumb-project-details .name {
   margin: 0 0 0.1rem 0;
   font-family: 'Montserrat', sans-serif;
}

.thumb-project-details .short {
    margin: 0;
}

/* project detail page */
.detail-main {
    padding: 0 1rem;
}

.detail-header {
    width: 100%;
    text-align: center;
}

.detail-header .name {
    margin-top: 1rem;
}

.detail-header .short-detail-lang {
    margin-bottom: 1.25rem;
    margin-top: 0;
}

.detail-hr {
    width: 100%;
    margin: 1rem 0;
}

.detail-header-h3 {
    margin: 1rem 0 0.2rem 0 ;   
}

.detail-wrapper p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.project-technical-details > p {
    margin: 0;
}

#feature-prior {
    margin-bottom: 0.75rem;
}

#short-2 {
    margin-top: 1rem;
}

 .detail-flexbox {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.detail-image-flex {
    display: block;
    text-align: center;
    justify-content: space-around;  
    margin-bottom: 1rem;
}

.detail-image-flex-mockup-9 {
    display: grid;
}

.detail-image-flex-mockup-9 > img {
    justify-self: center;
    width: 14.34rem;
    height: 29.38rem;
    margin: 0 0 1rem;
}

.detail-image-flex-mockup-3 {
    display: grid;
}

.detail-image-flex-mockup-3 > img {
    justify-self: center;
    width: 14.34rem;
    height: 29.38rem;
    margin: 0 0 1rem;
}

/* footer section */

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.prev:hover, .next:hover, .home:hover {
    opacity: 40%;
}

/* about me page */
.about-main {
    margin: 0 1rem 1rem 1rem;
}