/*  landing page */
.index-main {
    grid-area: main;
    width: 100%;
    height: auto;
    padding: 2rem;
}

.intro-header {
    width: 100%;
    padding: 0 1rem 2rem 1rem;
    text-align: left;
}

.intro-header h1 {
    width: 75%;
    margin: 0 0 0 0;
} 

.intro-header h3 {
    width: 100%;
}

.thumb-project-details  {
    margin: 1rem 0 3rem 0;
}

.thumb-project-details .name {
   margin: 1rem 0 1rem 0;
}

.thumb-project-details .short {
    margin-bottom: 1rem;
}

/* project detail page */
.detail-main {
    margin: 0 auto;
}

.detail-header {
    width: 100%;
    margin: 1rem 0 0 0;
    text-align: center;
}

.detail-header .name {
    margin: 0 1rem 0 1rem;
}

.detail-header .short-detail-lang {
    margin: 0 1rem 0 1rem;
}

.detail-wrapper {
    margin: 2rem 2rem 1rem 2rem;
}

.detail-wrapper .thumb-project {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 0rem;
}

.detail-wrapper .short-detail {
    margin: 0.5rem 0 1rem 0;
}

.project-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 2rem 3rem 2rem;
}

.nav-text:hover, .nav-text-prev:hover, .nav-text-next:hover {
    cursor: pointer;
    opacity: 40%;
  }

/* about me page */
.about-main {
    margin: 0 2rem 1rem 2rem;
}