/*  landing page */
html {
    scroll-behavior: smooth;
}

.index-main {
    grid-area: main;
    width: 100%;
    height: auto;
    padding: 0;
}

.centered-header {
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-20%, -30%);
}

.centered-subheader {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-5%, -30%);
}

.thumb-project > img {
    padding: 0 1rem;
}

.thumb-project-details  {
    margin: 0 1rem 2rem 1rem;
}

.thumb-project-details .name {
   margin: 0;
}

.thumb-project-details .short {
    margin: 0;
}

/* project detail page */
.detail-main {
    padding: 0 1rem;
}

.detail-header {
    width: 100%;
    text-align: center;
    /* margin: 1rem 0; */
}

.detail-header .name {
    margin: 0;
}

.detail-header .short-detail-lang {
    margin: 0;
}

/* .short-detail {
    margin: 1rem 0 1rem 0;
} */

.detail-hr {
    width: 100%;
    margin: 1rem 0;
}

.detail-header-h3 {
    margin: 1rem 0 0.2rem 0 ;   
}

.detail-wrapper p {
    margin-bottom: 1rem;
    margin-top: 0;
}

.project-technical-details > p {
    margin: 0 ;
}

#feature-prior {
    margin-bottom: 0.75rem;
}

.detail-flexbox {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.detail-image-flex {
    display: block;
    text-align: center;
    justify-content: space-between;  
}

.detail-image-flex > p {
    font-size: smaller;
    font-style: italic;
    line-height: 0.4rem;
    margin-top: 0;
}

.detail-image-flex > img {
    max-width: 90%;
}

.detail-image-flex-mockup {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;   
}

.detail-image-flex-mockup > img {
    width: 70%;
    height: auto;
    margin: 0 0 2rem;
}

.project-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 2rem 3rem 2rem;
}
 
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.prev:hover, .next:hover, .home:hover {
    opacity: 40%;
}

/* about me page */
.about-main {
    margin: 0 2rem 1rem 2rem;
}