/* header */
.menu li {
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
}

/* burger menu */
.navbar-toggle {
    font-size: 2rem;
    color: #000;
}

/* main landing page */ 
.name { 
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6rem;
    text-transform: capitalize;
}

.short {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.link {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: blue;
}

.link:hover {
    opacity: 40%;
}

/* detail section */
.detail-header .name {
    font-size: 1.6rem;    
    line-height: 2rem;
    font-weight: 700;
}

.detail-header .short-detail-lang {
    opacity: 50%;
    font-size: 1rem;
}

.detail-header-h3 {
    font-family:'Montserrat', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.detail-wrapper > p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.project-technical-details {
    font-size: 1rem;
    line-height: 1.6rem;
}

.detail-image-flex > p {
    font-size: 0.9rem;
    font-style: italic;
    line-height: 0.4rem;
    margin-top: 0;
}

.external-link {
    color: blue;
}

.external-link:hover {
    font-weight: 700;
}

.nav-link > span, a {
    text-decoration: none;
    color: #000;
}

.nav-text-prev{
    text-align: right;
    margin-right: 0;
}

/* about section */
.button-wrapper a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
    color: #000;
}

/* footer section */
.footer-h2 {
    font-family: 'raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.footer-paragraph {
    font-size: 1rem;
    text-align: center;
}