/* header */
.logo-image {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 2.8rem;
    margin: 0.8rem 0 0 1rem;
    background-image: url("../images/logo/website-logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* style project images */
.landing-image > img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin: 0.3rem 0 0 0;
    padding: 0;
}

.arrow-image > img {
    width: 2rem;
    height: auto;
    display: block;
    margin: 1.5rem auto 2rem auto;
}

.thumb-project > img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
}

.detail-wrapper > img {
    width: 100%;
    height: auto;
    padding: 0;
    background-repeat: no-repeat;
}

.image-about {
    display: block;
    margin: 2rem auto 1rem auto;
    width: 100%;
}

.thumb-proj-ux {
    width: 100%;
}

#thumb-crazy-8s {
    margin-bottom: 1rem;
}

.detail-image-flex > img {
    max-width: 90%;
}

/* footer social icons */
.div-images {
    width: 2rem;
    height: 2rem;
}
