/* tablet - portrait */
@media screen and (max-width: 36.25rem)  {
    /* body css  */
}

@media screen and (min-width: 36.25rem) and (max-width: 49.8rem) {
    /* header */
    .navbar {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: space-between;
    }

    .navbar a {
        margin-left: 0;
    }

    .navbar-toggle, .menu hr {
        display: none;
    }

    .menu {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        right: 1rem;
        margin-top: 1.2rem;
        padding: 0;
    }
    
    .menu li {
        margin-left: 1rem;
        margin-right: 0;
    }

    .logo-image {
        width: 2rem;
        height: 3rem;
        margin: 0;
        margin: 0.8rem 0 0 0;
    }

    .fa-bars {
        margin-top: 1rem;
    }

    /* main page content */
    .thumb-project > img {
        border-radius: 0;
    }
    
    .thumb-project-details {
        display: grid;
        width: auto;
        height: fit-content;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "name short"
        " . link";
    }
    
    .thumb-project-details .name {
        grid-area: name;
        font-size: 1.2rem;
    }
    
    .thumb-project-details .short {
        grid-area: short;
        height: fit-content;
        margin-top: 0.2rem;
        font-size: 1rem;
    }

    .thumb-project-details .link {
        grid-area: link;
        justify-content: flex-start;
        font-size: 1rem;
    }

    /* detail page content */
    .detail-header {
        text-align: left;
    }

    .detail-header-h3 {
        font-size: 1rem; 
    }

    .detail-wrapper > p {
        font-size: calc(00.9rem + 0.1vw);
    }

    .project-technical-details > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .detail-image-flex-mockup {
        justify-content: space-around;
    }

    .detail-image-flex-mockup > img {
        max-width: 14.34rem;
        height: 29.38rem;
        margin: 0 0 2rem;
    }

    .group-ic {
        width: 35%;
    }
}

@media screen and (min-width: 49.8rem) and (max-width: 67.4rem) {
    body {
        display: grid;
        width: 100vw;
        height: auto;
        grid-gap: 0;
        grid-template-columns: 1fr 49.8rem 1fr;
        grid-template-areas: 
        " . nav . "
        " . main . "
        "footer footer footer";
    }

    /* header */
    .navbar {
        grid-area: nav;
        display: flex;
        flex-direction: row;        
        padding: 1rem 0 1rem  1rem;
        justify-content: space-between;
    }

    .navbar-toggle, .menu hr {
        display: none;
    } 

    .logo-image {
        width: 2rem;
        height: 3rem;
        margin: 0.8rem 0 0 0;
    }

    .menu {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        margin-top: 1.2rem;
        margin-right: 1rem;
        padding-right: 0;
    }

    .menu li {
        margin-left: 1rem;
        margin-right: 0;
    }

    /* main page content */
    .flexbox-thumb {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .thumb-project > img {
        border-radius: 0;
    }
 
    .thumb-project-details {
        display: grid;
        width: auto;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "name short"
        " . link";
    }

    .thumb-project-details .name {
        grid-area: name;      
        font-size: 1.2rem;
    }
    
    .thumb-project-details .short {
        grid-area: short;
        margin-top: 0.2rem;       
        font-size: 1rem;
    }

    .thumb-project-details .link {
        grid-area: link;
        justify-content: flex-start;
        font-size: 1rem;
    }

    /* detail page content */
     .detail-main {
        grid-area: main;
    }

    .detail-header {
        text-align: left;
    }

    .detail-header-h3 {
        font-size: 1rem; 
    }

    .detail-wrapper > p {
        font-size: calc(0.9rem + 0.1vw);
    }

    .project-technical-details > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .detail-image-flex-mockup {
        justify-content: space-around;
    }

    .detail-image-flex-mockup > img {
        width: 14.34rem;
        height: 29.38rem;       
        margin: 0 0 2rem;
    }

    /* about me page content */
    /* .about-main {
        grid-area: main;
    }

    .short-about {
        margin: 0;
    }     */

/*  .project-controls {
        justify-content: space-evenly;
    }

    .project-controls a {
        margin-left: 2rem;
    } */

    /* about me page content */
    /* .about-main {
        grid-area: main;
    }

    .short-about {
        margin: 0;
    } */

    /* footer section */
    .group-ic {
       width: 33%;
    }
}

@media screen and (min-width: 67.4rem) {
    /* header */
    body {
        display: grid;
        width: 100vw;
        height: auto;
        margin: 0;
        grid-gap: 0;
        grid-template-columns: 1fr 49.8rem 1fr;
        grid-template-areas: 
        " . nav . "
        " . main . "
        " footer footer footer ";
    }

     .navbar {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        padding: 1rem 0 1rem 0;
        justify-content: space-between;
    }

    .navbar-toggle, .menu hr {
        display: none;
    }

    .logo-image {
        width: 2rem;
        height: 3rem;
        margin: 0.8rem 0 0 1rem;
    }

    .menu {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        margin-top: 1.2rem;
        margin-right: 1rem;
        right: 1rem;
        padding-right: 0;
    }

    .menu li {
        margin-left: 1rem;
        margin-right: 0;
        font-size: 1.1rem;
    }

    /* main page content  */
    .intro-header h1 {
       width: 100%;
    }

    .thumb-project-details {
        display: grid;
        width: auto;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "name short"
        " . link";
    }
 
    .thumb-project > img {
        border-radius: 0;

    }
    .thumb-project-details .name {
        grid-area: name;
        font-size: 1.2rem;
    }
    
    .thumb-project-details .short {
        grid-area: short;
        height: fit-content;
        margin-top: 0.2rem;
        font-size: 1rem;
    }

    .thumb-project-details .link {
        grid-area: link;
        justify-content: flex-start;
        font-size: 1rem;
    } 

    /* detail page content */
     .detail-main {
        grid-area: main;
        margin: 0;
    }

    .detail-header {
        text-align: left;
    }
    
    .detail-header-h3 {
        font-size: 1rem; 
    }

    .detail-wrapper > p {
        font-size: calc(0.9rem + 0.1vw);
    }

    .project-technical-details > p {
        font-size: 1rem;
        line-height: 1.6rem;
    }

    .detail-image-flex-mockup {
        width: 100%;
        justify-content: space-around;
    }

    .detail-image-flex-mockup > img {
        width: 14.34rem;
        height: 29.38rem;
        margin: 0 0 2rem;
    }

    /* footer section */
    .group-ic {
        width: 31%;
    }
}